# Data
data/raw/
data/processed/
results/
*.npy
*.npz
*.csv
*.h5
*.mat
*.nii
*.nii.gz

# env
.env
*.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# OS/editor cruft
.DS_Store
.vscode/
.idea/

# Docker
*.log

# Additional