# Large datasets
data/raw/
data/processed/

*.nii
*.nii.gz
*.npy
*.npz
*.h5
*.mat

# Environment
.env
*.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
.idea/

# Logs
*.log